/* Index page style with exention to other pages */
#heading {
    background-color: #283593;
    margin-bottom: 0px;
}

#heading .brand-logo {
    font-size: 25px;
    margin-left: 20px;
}

#search {
    width: 80%;
    padding-left: 40px;
    padding-right: 20px;
    box-sizing: border-box;
}

#access_anchor a{
    padding-left: 30px;
}

nav {
    margin-top: 0px;
    height: 30px;
    padding-right: 100px;
}

#category {
    min-height: 100vh;
}

#category .card-panel {
    margin-bottom: 0px;
}

#category .collection {
    margin-top: 0px;
}

#main_body {
    min-height: 100vh;
}

#recipe_cards {
    margin-left: 50px;
    margin-right: 20px;
}

/**
 * Custom styling for recipes, recipe, favourite
   and profile pages 
 */
#image_logo ul {
    margin: 0px;
}

#image_logo li {
    display: inline-block;
    margin: 0px;
}

#image_logo li img {
    height: 80px;
    max-width: 80px;
    margin: 0px;
}

.modal {
    width: 450px;
}

.fixed-action-btn {
    margin-right: 5%;
    margin-bottom: 30%;
}

/**
 * Recipe page 
 */
 #recipe_photo {
    width: 450px;
    margin: auto;
    background-color: orangered;
}

#recipe_details {
    width: 60%;
}

#recipe_details label {
    color: black;
    font-size: 14px;
}

#recipe_photo img {
    width: 400px;
    max-width: 400px;
}

#reviews {
    background-color: #536dfe;
    padding-left: 20px;
}

#vote {
    display: flex;
    justify-content: center;
    align-items: center;
}

#vote .btn {
    background-color: #536dfe;
}

#vote_count {
    padding-left: 5px;
    padding-right: 5px;
}

#add_review {
    border: 1px solid grey;
}

/**
 * Profile page 
 */
 #profile_photo {
    width: 250px;
    height: 250px;
    margin: auto;
}

#about_user label {
    color: black;
    font-size: 14px;
}

.modal {
    width: 450px;
}

/**
 * Favorites page 
 */
#favorites .card {
    min-height: 400px;
}

/**
 * Signup and signin pages
 */
 #body {
    background: url(../images/image5.jpg) no-repeat center;
    height: 100%;
    min-height: 70vh; 
    background-size: cover;
}

#heading {
    padding-left: 20px;
}

#form-body {
    margin: auto;
    background: white;
    padding: 20px 25px;
    width: 450px;
    height: auto;
    box-sizing: border-box;
    border-radius: 10px;
}
