body {
    background: #222;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.container {
    background: rgba(162, 244, 245, 0.50);
    width: 100%;
    
}

#container {
    width: 80%;
    margin: auto;
    background: rgba(164, 237, 241, 0.50);
}

main {
    flex: 1 0 auto;
}

.card-panel {
    height: 120px;
}

#image-logo li {
    display: inline-block;
}

#image-logo li img {
    height: 80px;
}

.input-field label {
    color: #000;
}

#form-body {
    margin: auto;
    background: white;
    padding: 20px 25px;
    border: 5px solid #26a69a;
    width: 450px;
    height: auto;
    box-sizing: border-box;
}

.nav-wrapper {
    padding: 0 15px 0 15px;
}

#body {
    padding: 10px;
    min-height: 100vh;
    background-color: white;
}

#search {
    padding-left: 40px;
    padding-right: 20px;
    box-sizing: border-box;
}

h4, .modal h4 {
    font-size: 25px;
    text-align: center;
}

h5 {
    font-size: 20px;
    text-align: center;
}

h6 {
    font-size: 14px;
    margin-left: 40px;
    margin-right: 40px;
}

#description, #ingredients, #directions {
    margin-left: 40px;
    margin-right: 40px;
}

#items {
    margin-left: 40px;
    font-size: 20px;
}
#reviews {
    height: 40px;
    padding-left: 20px;
    background-color: #5D8B78;
}
.modal {
    width: 550px;
}

#recipe_image {
    margin: auto;
    width: 450px;
    height: 250px;
    border: 2px solid orangered;
    box-sizing: border-box;
}

#profile_photo {
    width: 250px;
    height: 250px;
    margin-top: 20px;
    margin: auto;
    border-radius: 100%;
    border: 2px solid orangered;
    box-sizing: border-box;
}

#user_profile {
    margin-top: 20px;
    margin-left: 100px;
    margin-top: 60px;
}

#user_profile label {
    color: black;
    font-size: 16px;
}
