<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.1/css/materialize.min.css" rel="stylesheet">
        <link href="css/style.css" rel="stylesheet">
    </head>
    <body>
        <header>
            <nav>
                <div class="nav-wrapper teal">
                    <a href="#" class="brand-logo">More-Recipes</a>
                    <ul id="nav-mobile" class="right hide-on-med-and-down">
                        <li><a href="profile.html">Profile</a></li>
                        <li><a href="favorites.html">Favorites</a></li>
                        <li><a href="myrecipes.html">My Recipes</a></li>
                    </ul>
                </div>
            </nav>
        </header>
        <main>
            <div class="row"></div>
            <div id="container" class="container">
                <div id="body">
                    <!--Details of a recipe-->
                    
                    <article>
                        <h5>Rice</h5>
                        <div id="recipe_image"><img src=""></div>
                        <img src="" alt="">
                        <h6><b><em>Description: </em></b></h6>
                        <p id="description">cooool</p>
                        <h6><b><em>Ingredients: </em></b></h6>
                        <p id="ingredients">so coool</p>
                        <h6><b><em>Directions: </em></b></h6>
                        <p id="directions">this waaaay</p>
                        <div class="row"></div>
                    </article>
                    <div id="reviews" class="valign-wrapper">
                        <h5>Reviews</h5>
                    </div>
                    
                    <ul id="review" class="collection">
                        <li class="collection-item avatar">
                        <img src="C:\Users\Justin\Pictures\Personal\2012-11-12-576.jpg" alt="" class="circle">
                        <span class="name"><b>Name</b></span>
                        <p>Review</p>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="row"></div>
        </main>
        <footer class="page-footer teal">
            <div class="footer-copyright">
                <div class="container">
                    © 2017
                    <a class="grey-text text-lighten-4 right" href="#!">About More-recipes</a>
                </div>
            </div>
        </footer>
        <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.1/js/materialize.min.js"></script>
    </body>
</html>